falcon==1.2.0
python-dateutil==2.6.1
requests==2.18.4
uwsgi===2.0.15
configparser==3.5.0
python-openstackclient==3.11.0
SQLAlchemy==1.1.13
psycopg2==2.7.3.1
PasteDeploy==1.5.2
keystonemiddleware===4.9.1
